<%- include partials/header.ejs %>


<body>
    
  <div class="jumbotron" style="opacity: 0.5; position: relative; bottom: 20px; padding-top:30px;">
  <div class="container">
<h2>About</h2>
  </div>
</div>
 <!-- Adding the content on the page-->
        <div class="container" style="height: 420px;">
    <div class="contentTag" style="width:550px; float:left">
            
        <h1>I'm Gurpanth Singh</h1>
        <h4>A georgian college student continuing education in Computer Science</h4>

<p class="">My current education in computer science, I have gained proficiency in software and web development. In summation I have gathered knowledge about the Software Development Lifecycle (SDLC)<br>

    Evidence of my leadership and analytical skills can be seen in my responsibilities as a developer at my commitment to my academics. My current educational in computer science has given me the proficiency to work independently and the ability to think logically</p>

    </div>
    <img style="heigh:110px; width:350px; float:right" src="images/Gurpanth.png"/>
</div>
</div>
</body>
<%- include partials/footer.ejs %>
</html>