<%- include partials/header.ejs %>

       
  <div class="jumbotron" style="opacity: 0.5; position: relative; bottom: 20px; padding-top:30px;">
  <div class="container">
   <h2>Projects</h2>
  </div>
</div>
<!--Building a container for the content-->
    <div class="container"style="height:420px;">
<h3>A few recent works</h3>

        <p>A voting application in PHP <a href="http://gc200299024.computerstudi.es/Assignment/voter.php">Test the application</a></p></br>

<p>A SDLC diagram of the voting application <a href="http://gc200299024.computerstudi.es/Site/SDLC.html">See the diagram</a></p></br>

<p>Simple HTML and CSS front end web design <a href="http://gc200299024.computerstudi.es/Sites/Index.html">View the front page (Front end design)</a></p>
</div>
</body>
<!-- Adding the footer to the page-->
<%- include partials/footer.ejs %>
</html>