<%- include partials/header.ejs %>
  <div class="jumbotron" style="opacity: 0.5; position: relative; bottom: 20px; padding-top:30px;">
  <div class="container">
    <h2>Services</h2>
  </div>
</div>
<div class="container"style="height:710px;">
 <div class="servicesClass" style="text-align:center">
        <h3>This is what I can do for you</h3>
     <div class="col-sm-4"><img class="" alt="" style="height:110px; width:150px;" src="images/codeModule.png"><h4 style="">Coding and Modularization</h4><br><p>As a developer I want to delever a clean format of coding for my clients. Weather writing it from scratch or modifying an existing one!!!! You name it.</p></div>
     <div class="col-sm-4"><img class="" alt="" style="height:110px; width:150px;" src="images/servers.png"><h4>Server Configuration and Maintainence</h4><br><p>I have proficiency in running web based servers and databse using OOP programming for web and software development and I will make sure they are never down.</p></div>
     <div class="col-sm-4"><img class="" alt="" style="height:110px; width:150px;" src="images/websites.png"><h4>Responsive Web Designing</h4><br><p>Creating responsive designs for web sites, delivering proper format of code and easy understandibility as a users point of experience because users needs are my services.</p></div>
     <div class="col-sm-4"><img class="" alt="" style="height:110px; width:150px;" src="images/devices.jpg"><h4>Proficiency with all IT devices</h4><br><p>Proficiency in building softwares and web based applications for different user experience, giving them the advanced user experience. Dealing with troubleshooting, MS office and using multiple OS is my thing.</p></div>
     <div class="col-sm-4"><img class="" alt="" style="height:110px; width:150px;" src="images/codeTest.jpg"><h4>Code testing and debugging</h4><br><p>Experience in testing and bug fixing. Hands on experience in debugging codes for java and web based applications. Killing and smashing bugs from my code is what I like</p></div>
     <div class="col-sm-4"><img class="" alt="" style="height:110px; width:150px;" src="images/sdlc.jpg"><h4>Systems Development Life Cycle (SDLC)</h4><br><p>In depth knowledge of methodology, Software Development Life Cycle (SDLC) processes, Object Oriented Analysis and Design, because "Failing to plan is planning to fail" - Alan L.</p></div>
</div>
</div>
</body>
<%- include partials/footer.ejs %>
</html>